waha.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "660713c4-2826-4f6b-b5c4-a74115ca5dc4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        320
      ],
      "id": "3290a996-0ee0-44b2-bc32-d8b5fe3601ab",
      "name": "Webhook2",
      "webhookId": "660713c4-2826-4f6b-b5c4-a74115ca5dc4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.payload.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        320
      ],
      "id": "f26abb7d-7e51-49f6-856d-0869cdf6d504",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        528
      ],
      "id": "b69fd2a6-c9bb-4e57-b582-6a504e86d61f",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "FwWQdrKmoHvAGPDc",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.payload.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        528
      ],
      "id": "466a5a3a-2bcd-4cb9-9696-fc69fba1422e",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Webhook2').item.json.body.session }}",
        "chatId": "={{ $('Webhook2').item.json.body.payload.from }}",
        "text": "={{ $json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        688,
        320
      ],
      "id": "bae1f055-2521-474a-a8fc-cefaab5c8663",
      "name": "Send a text message2",
      "credentials": {
        "wahaApi": {
          "id": "akHxtBx7F0JcEN0S",
          "name": "WAHA account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b912555e669bf97b78de59d5d2ec442e593335f68840fbf3ac04ad398f1fc81"
  }
}
